name: Blog deployed trigger

on:
  repository_dispatch:
    types: [ blog_deployed ]

jobs:
  run_swift_script:
    runs-on: macos-15
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run Swift Script
        run: |
          swift run main.swift
      - name: Push changes
        run: |
          git config --global user.name "Buildbot"
          git config --global user.email "buildbot@users.noreply.github.com"
          git add .
          git commit -m "[BOT] Update Post"
          git push
